<a href="https://colab.research.google.com/github/annazolina281/DSA-Cpe010-Cpe21s4/blob/main/Exercise_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Accessing the Elements in  the Array
animals = ["cat", "dog", "fish"]
x = animals[0]
print(x)

cat

In [2]:
#Modifying elements in the array
animals = ["cat", "dog", "fish"]
animals[0] = "monkey"
print(animals)

['monkey', 'dog', 'fish']

In [5]:
#Length of the array
animals = ["monkey", "cat", "dog", "fish"]
x = len(animals)
print(x)

4

In [10]:
#looping array elements
animals = ['monkey', 'cat', 'dog', 'fish']
for x in animals:
    print(x)

monkey
cat
dog
fish

In [6]:
#Adding item in the animals
animals = ['monkey', 'cat', 'dog', 'fish']
x = animals.append("bird")
print(animals)

['monkey', 'cat', 'dog', 'fish', 'bird']

In [7]:
animals.reverse
print(animals)

['monkey', 'cat', 'dog', 'fish', 'bird']

In [9]:
#remove an item in the array lists
animals = ['monkey', 'cat', 'dog', 'fish']
animals.pop(2)
print(animals)

['monkey', 'cat', 'fish']

In [16]:
#Inserting an animal specific location using insert()
animals = ['monkey', 'cat', 'dog', 'fish']
animals.insert(0, "bird")
print(animals)

['bird', 'monkey', 'cat', 'dog', 'fish']

In [18]:
#Remove the item in the specified index value using remove()
animals = ['monkey', 'cat', 'dog', 'fish']
animals.remove("dog")
print(animals)

['monkey', 'cat', 'fish']

In [ ]:
#Reverse all items in the list using reverse()
animals = ['monkey', 'cat', 'dog', 'fish']
animals.reverse()
print(animals)